<!DOCTYPE html>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
  </head>
  <body>
    <div id="signInButton">
      <span class="g-signin"
            data-scope="openid email"
            data-clientid="989899533517-a24gggrpsg9jqn2ouqqabmohc3hbq13u.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
      </span>
    </div>
  </body>
</html>
